RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteRule ^index$ index.php
RewriteRule ^About$ About.php
RewriteRule ^Careers$ Careers.php
RewriteRule ^Categories$ Categories.php
RewriteRule ^Contact$ contact_us.php
RewriteRule ^Patners$ Patners.php